<div class="link-wrapper">
    <style scoped>
      ul.link a {
        color:var(--clr-h1-and-bold);
        text-decoration:none;
      }

      ul.link a:hover, a:focus {
        color: var(--clr-a-text-hvr);
      }
    </style>
    <ul class="link">
      <li><a href="le.ha1@northeastern.edu"><i class="fab fa-envelope"></i>Email</a></li>
      <li><a href="https://scholar.google.com/citations?user=OLtHYoUAAAAJ&hl=en"><i class="fas fa-user-graduate"></i> Google Scholar</a></li>
      <li><a href="https://github.com/hvrlxy"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://twitter.com/xxx_hrl"><i class="fab fa-twitter"></i> Twitter</a></li>
      <li><a href="./assets/pdfs/Le_Ha_CV.pdf"><i class="fa fa-file-pdf"></i> CV</a></li>
    </ul>
  </div>